<form>
    <div class="card">
        <div class="card-header">
          Register New Employee
        </div>
        <div class="card-body card-body-height">

            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" autocomplete="false" [(ngModel)]="email" name="registeredemail"/>
                <label class="form-label" for="form2Example1">UserName</label>
              </div>

            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" autocomplete="false" [(ngModel)]="userName" name="registereduserName"/>
                <label class="form-label" for="form2Example1">Email address</label>
              </div>
            
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" autocomplete="false" [(ngModel)]="password" name="registeredpassword"/>
                <label class="form-label" for="form2Example2">Password</label>
              </div>
             
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-left">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                  </div>
                </div>
              </div>
            
              <!-- Submit button -->
             
              <button type="button" class="btn btn-primary btn-block mb-4 mb-left" (click)="submit()">Create User</button>
             
              <div *ngIf="errors">
                <ng-template>
                    <div *ngFor="let item of errors">
                       <p>{{errors}}</p>
                    </div>
                </ng-template>
              </div>
              <mat-spinner *ngIf="IsLoaded"></mat-spinner>
        </div>
      </div>
    <!-- Email input -->
   
  </form>