
    
    
         <mat-toolbar color="primary">
          <div class="container-fluid">
           <div class="row"> 
             <div class="col-md-10">
                <span>Leave Management</span>
             </div>
           <div class="col-md-2">
            <button *ngIf="IsLoggedIn$|async" type="button" class="btn btn-primary logOut" (click)="submit()" matTooltip="Tooltip Display" 
            aria-label="Displays a tooltip">Log Out
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
           </div>
           </div>
          </div>
         </mat-toolbar>
    <!-- <div class="input-group">
      <div class="form-outline">
        <input type="search" id="form1" class="form-control" />
        <label class="form-label" for="form1">Search</label>
      </div>
      <button type="button" class="btn btn-primary">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div> -->
   